body {
  background-color: lightblue;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  margin: 50px;
  background-color: rgb(218, 209, 209);
  width: 75%;
}

.chart-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  margin: 20px auto;
}

input, select, button {
  width: 70%;
  line-height: 40px;
  font-size: 20px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
}

label {
  margin: 0 auto;
  width: 70%;
  line-height: 40px;
  font-size: 20px;
  color: white;
}

button:hover, button:focus {
  background-color: rgb(122, 171, 187);
  color: white;
  outline: none;
}

.chart-line {
  width: 70%;
  
}
